#logo{
    width: 90px;
    height: 70px;
    padding-right: 800px;
}

#title{
    
    
    flex-wrap: nowrap;
    
}

div{
    background-color: lightgrey;
  padding: 50px;
  margin: 20px;
}

.icones{
    float: right;
    font-size: xxx-large

}
body{
    background-color: lightcyan;
    background-size: 80px 60px;  /* 80 pixels de largura e 60 pixels de altura */
    background-size: 300px;  /* 300 pixels de largura e altura automática */
    text-align: center;
    font-family: cursive;
}
form{
    background-color: lightcyan; 
    border:5px solid black; 
    padding: 10px;
    text-align:justify;
    display: grid;
}
section{
    font-size: -webkit-xxx-large;
    
}